* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0f0f0;
}
header nav a.pagSelec {
    background-color: #1a1e30; 
    box-shadow: 0 2px 6px rgba(0, 0, 1, 0.4);
    pointer-events:none;
    transform: translateY(-3px);
}
main {
    flex: 1;
    display: flex;
    justify-content: center;
}

#logo{
    height: 50px;
    width: auto;
    margin-right: 10px;
}
#burguer{
    height: 30px;
    transition: 0.5s;
}
#burguer:hover{
    color: #30364F;
    letter-spacing: 0.5px;
    transform: translateY(-2px);
}
#titulo{
    text-align: left;
}
header {
    display: grid;
    grid-template-columns: auto auto auto 1fr;
    align-items: center;
    border-bottom: 1px solid #d6d6d6;
    background-color: #ebebeb;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    padding: 10px 30px;
}
header h1 {
    font-size: 25px;
    color: #30364F;
    font-weight: bold;
    margin-left: 0.5em;
}
header nav {
    
    display: flex;
    gap: 20px;
    justify-self: end;
}
header nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    white-space: nowrap;
    color: #F0F0DB;
    font-weight: bold;
    background-color: #30364F;
    padding: 0.7em 1.2em;
    border-radius: 49px;
    transition: 0.5s;
}
header nav a:hover {
    background-color: #3d4460;
    box-shadow: 0 6px 16px rgba(48, 54, 79, 0.45);
    transform: translateY(-2px);
}

footer{
    height: auto;
    width: 100%;
    border: 1px;
    margin-top: 2em;
    background-color: #30364F;
    color: #F0F0DB;
    padding: 10px 30px 25px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    border-top: 2px solid #b9b9b9;
    box-shadow: 0px -4px -3px rgba(0, 0, 0, 0.1);
}

.footer-logo h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.footer-bottom {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding-top: 15px;
    justify-content: space-between;
}

body{
    opacity: 1;
    transition: opacity 0.5s ease;
}

body.fade-out{
    opacity: 0;
}